@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap");

// 主色系
// RGB 165,65,37 =##A84125
$main_color: rgb(165, 65, 37);
//標題用字體
$main_title: "Noto Sans TC", sans-serif;
//文章用字體
// $main_content: 'Noto Sans TC', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
    /* border: 0.01px solid rgba(0,0,0,0.01); */
}

// 導覽頁
#card {
    width: 100%;
    height: 100vh;
    background-image: url(./img/my_index2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    //background-position: 0 -1px;
    color: white;

    #content {
        position: relative;
        top: 300px;
        left: 200px;
        width: 600px;
        transition: 0.3s;

        // &:hover {
        //     color: white;
        //}
        h2 {
            font-size: 40px;
            // font-family:$main_content ;
        }
        hr {
            width: 560px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        p {
            font-size: 24px;
            font-weight: bold;

            // font-family: $main_content;
        }
    }
}

// 生活故事
section {
    width: 100%;
    height: 150vh;
    margin-top: 100px;

    #my-life {
        width: 1200px;
        display: grid;
        grid-template-columns: 45% 55%;
        margin: 0 auto;
        margin-bottom: 30px;
        //  border:5px #FFAC55 solid;
        box-shadow: 2px 8px 3px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 20px;
        background-color: white;
        #life-img {
            width: 500px;
            height: 500px;
            background-image: url(./img/LIFE-1.jpg);
            background-size: cover;
            box-shadow: 2px 8px 3px rgba(0, 0, 0, 0.3);
        }
        #life-content {
            padding: 0 60px;
            // border:5px #FFAC55 solid;
            h2 {
                text-align: center;
                font-family: $main_title;
                font-size: 36px;
            }
            ul {
                margin-top: 10px;
                li {
                    font-family: $main_title;
                    a {
                        text-decoration: none;
                        font-family: $main_title;
                    }
                }
            }
            p {
                margin-top: 50px;
                line-height: 30px;
                font-size: 18px;
                font-family: $main_title;
            }
        }
    }

    // 第二個卡片
    #my-focus {
        width: 1200px;
        display: grid;
        grid-template-columns: 57% 43%;
        margin: 0 auto;
        margin-bottom: 30px;
        // border:5px #FFAC55 solid;
        box-shadow: 2px 8px 3px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 20px;
        background-color: white;

        #life-img {
            width: 500px;
            height: 500px;
            background-image: url(./img/LIFE-1.jpg);

            box-shadow: 2px 8px 3px rgba(0, 0, 0, 0.3);
        }
        #life-content {
            padding: 0 60px;
            // border:5px #FFAC55 solid;
            h2 {
                text-align: center;
                font-family: $main_title;
                font-size: 36px;
            }
            p {
                margin-top: 30px;
                line-height: 30px;
                font-family: $main_title;
                font-size: 18px;
            }
        }
    }
}

//作品集頁面
#introduction {
    //height: 500px;
    // border:5px #FFAC55 solid;
    margin: 0 80px;
    #introduction-img {
        width: 150px;
        height: 150px;
        background-image: url(./img/me-1.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        // margin: 0 60px;
        margin-bottom: 20px;
    }
    #card-left {
        h3 {
            color: black;
            font-family: $main_title;
            font-size: 36px;
            // margin: 0 80px;
            transition: 0.5s;
            display: inline;
            &:hover {
                filter: invert(26%) sepia(81%) saturate(800%) hue-rotate(336deg) brightness(101%) contrast(93%);
            }
        }
        h1 {
            color: black;
            font-family: $main_title;
            // margin: 0 80px;
            transition: 0.5s;
            display: inline;
            font-size: 40px;
            &:hover {
                filter: invert(26%) sepia(81%) saturate(800%) hue-rotate(336deg) brightness(101%) contrast(93%);
            }
        }
        #connection {
            // position: relative;
            // left:70px;
            a {
                img {
                    width: 50px;

                    // margin-left: 0.9px;
                    transition: 0.5s;
                    &:hover {
                        filter: invert(26%) sepia(81%) saturate(800%) hue-rotate(336deg) brightness(101%) contrast(93%);
                    }
                }
            }
        }
    }
}

//作品集標題
#title {
    //letter-spacing: 15px;
    word-spacing: 50px;
    margin-left: 80px;
    margin-top: 10px;
    a {
        text-decoration: none;
        transition: 0.5s;
        color: black;
        font-family: $main_title;
        font-size: 24px;

        &:hover {
            color: $main_color;
        }
    }
}
