@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap");

// 主色系
// RGB 165,65,37 =##A84125
$main_color: rgb(165, 65, 37);
//標題用字體
$main_title: "Noto Sans TC", sans-serif;
//文章用字體
// $main_content: 'Noto Sans TC', sans-serif;

// RWD
$desktop: 1025px;
$ipad: 1024px;
$phone: 767px;

// 作品集標題字形
@mixin title {
    font-family: $main_title;
    font-size: 24px;
    transition: 0.5s;
    &:hover {
        color: $main_color;
    }
    //平板
    @media screen and (max-width: $ipad) {
        font-size: 30px;
    }
    //手機
    @media screen and (max-width: $phone) {
        font-size: 25px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;

    /* border: 0.01px solid rgba(0,0,0,0.01); */
}

// 導覽頁
#card {
    width: 100%;
    height: 100vh;
    background-image: url(./img/my_index2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 -70px;
    color: white;
    overflow: hidden;

    //平板
    @media screen and (max-width: $ipad) {
        height: 400px;
        background-size: 100%;
        background-position: 0 0;
    }
    //手機
    @media screen and (max-width: $phone) {
        height: 200px;
        background-position: 0 0;
    }

    #content {
        position: relative;
        top: 300px;
        left: 200px;
        width: 600px;
        animation-name: kyrieText;
        animation-duration: 0.8s;
        animation-delay: 0.2s;

        //平板
        @media screen and (max-width: $ipad) {
            position: relative;
            top: 180px;
            left: 50px;
        }
        //手機
        @media screen and (max-width: $phone) {
            position: relative;
            top: 90px;
            left: 20px;
            width: 300px;
        }

        // &:hover {
        //     color: white;
        //}
        a {
            text-decoration: none;
            color: white;
            // transition: 0.5s;
            // &:hover{
            //     color: $main_color;
            // }
            h2 {
                font-size: 40px;
                // font-family:$main_content ;

                //平板
                @media screen and (max-width: $ipad) {
                    font-size: 18px;
                }
                //手機
                @media screen and (max-width: $phone) {
                    font-size: 10px;
                }
            }
            hr {
                width: 560px;
                margin-top: 5px;
                margin-bottom: 10px;
                //平板
                @media screen and (max-width: $ipad) {
                    width: 420px;
                }
                //手機
                @media screen and (max-width: $phone) {
                    width: 170px;
                }
            }
            p {
                font-size: 24px;
                font-weight: bold;
                //平板
                @media screen and (max-width: $ipad) {
                    font-size: 18px;
                }
                //手機
                @media screen and (max-width: $phone) {
                    font-size: 10px;
                }
            }
        }
    }
}

// 生活故事
#life {
    width: 100%;
    height: 150vh;
    margin-top: 50px;

    #my-life {
        width: 1200px;
        display: grid;
        grid-template-columns: 45% 55%;
        margin: 0 auto;
        margin-bottom: 30px;
        //  border:5px #FFAC55 solid;
        box-shadow: 2px 8px 3px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 20px;
        background-color: white;

        //平板
        @media screen and (max-width: $ipad) {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        //手機
        @media screen and (max-width: $phone) {
            width: 100%;
        }

        #life-img {
            width: 500px;
            height: 500px;
            background-image: url(./img/life.jpg);
            background-size: cover;
            background-position: -90px 0;
            box-shadow: 2px 8px 3px rgba(0, 0, 0, 0.3);
            //平板
            @media screen and (max-width: $ipad) {
                margin: 0 auto;
            }
            //手機
            @media screen and (max-width: $phone) {
                width: 300px;
                height: 300px;
                margin: 0 auto;
            }
        }
        #life-content {
            padding: 0 60px;
            // border:5px #FFAC55 solid;
            //手機
            @media screen and (max-width: $phone) {
                padding: 0 30px;
            }
            h2 {
                text-align: center;
                font-family: $main_title;
                font-size: 36px;
                //手機
                @media screen and (max-width: $phone) {
                    font-size: 30px;
                    margin-top: 10px;
                }
            }
            ul {
                margin-top: 10px;
                li {
                    font-family: $main_title;
                    //手機
                    @media screen and (max-width: $phone) {
                        font-size: 16px;
                    }
                    a {
                        text-decoration: none;
                        font-family: $main_title;
                    }
                }
            }
            p {
                margin-top: 50px;
                line-height: 30px;
                font-size: 18px;
                font-family: $main_title;
                //手機
                @media screen and (max-width: $phone) {
                    font-size: 16px;
                }
            }
        }
    }

    // 第二個卡片
    #my-focus {
        width: 1200px;
        display: grid;
        grid-template-columns: 57% 43%;

        margin: 0 auto;
        margin-bottom: 30px;
        // border:5px #FFAC55 solid;
        box-shadow: 2px 8px 3px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 20px;
        background-color: white;
        //平板
        @media screen and (max-width: $ipad) {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        //手機
        @media screen and (max-width: $phone) {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin: 0 auto;
        }

        #life-img {
            width: 500px;
            height: 500px;
            background-image: url(./img/focus.jpg);
            background-size: cover;
            box-shadow: 2px 8px 3px rgba(0, 0, 0, 0.3);
            //平板
            @media screen and (max-width: $ipad) {
                margin: 0 auto;
                margin-top: 15px;
            }
            //手機
            @media screen and (max-width: $phone) {
                width: 300px;
                height: 300px;
            }
        }
        #life-content {
            padding: 0 60px;
            // border:5px #FFAC55 solid;
            //手機
            @media screen and (max-width: $phone) {
                padding: 0 30px;
            }
            h2 {
                text-align: center;
                font-family: $main_title;
                font-size: 36px;
                //手機
                @media screen and (max-width: $phone) {
                    font-size: 30px;
                }
            }
            p {
                margin-top: 30px;
                line-height: 30px;
                font-family: $main_title;
                font-size: 18px;
                //手機
                @media screen and (max-width: $phone) {
                    font-size: 16px;
                }
            }
        }
    }
}

//作品集頁面
#introduction {
    //height: 500px;
    // border:5px #FFAC55 solid;
    width: 1200px;

    background: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1000px;
    grid-template-areas: "card-left card-right";
    //平板
    @media screen and (max-width: $ipad) {
        position: relative;
        width: auto;
        grid-template-columns: 200px 500px;
    }
    //手機
    @media screen and (max-width: $phone) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "card-right"
            "card-left";
    }

    //左半邊
    #card-left {
        grid-area: card-left;
        //手機
        @media screen and (max-width: $phone) {
            text-align: center;
        }
        #introduction-img {
            width: 150px;
            height: 150px;
            background-image: url(./img/me-1.PNG);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            // margin: 0 60px;
            margin-bottom: 20px;
            //手機
            @media screen and (max-width: $phone) {
                display: block;
                margin: 0 auto;
            }
        }
        h3 {
            color: black;
            font-family: $main_title;
            font-size: 36px;
            // margin: 0 80px;
            transition: 0.5s;
            display: inline;
            &:hover {
                filter: invert(26%) sepia(81%) saturate(800%) hue-rotate(336deg) brightness(101%) contrast(93%);
            }
        }
        #symbol {
            font-size: 30px;
            margin-left: 85px;
            font-family: $main_title;
            //手機
            @media screen and (max-width: $phone) {
                margin-left: 0;
            }
        }
        h1 {
            color: black;
            font-family: $main_title;
            // margin: 0 80px;
            transition: 0.5s;
            display: inline;
            font-size: 40px;
            &:hover {
                filter: invert(26%) sepia(81%) saturate(800%) hue-rotate(336deg) brightness(101%) contrast(93%);
            }
        }
        #connection {
            // position: relative;
            // left:70px;
            margin-top: 10px;
            a {
                img {
                    width: 50px;

                    // margin-left: 0.9px;
                    transition: 0.5s;
                    &:hover {
                        filter: invert(26%) sepia(81%) saturate(800%) hue-rotate(336deg) brightness(101%) contrast(93%);
                    }
                }
            }
        }
    }

    // 右半邊設計
    #card-right {
        grid-area: card-right;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        //平板
        @media screen and (max-width: $ipad) {
            width: 100%;
        }
        //手機
        @media screen and (max-width: $phone) {
            display: block;
            position: relative;
        }
        img {
            width: 600px;
            height: 450px;
            transform: translate(180px, 50px);
            object-fit: cover;
            //平板
            @media screen and (max-width: $ipad) {
                width: 400px;
                height: 250px;
                transform: translate(50px, 80px);
                z-index: 1;
                position: relative;
            }
            //手機
            @media screen and (max-width: $phone) {
                width: 300px;
                height: 250px;
                position: relative;

                transform: translate(30px, 30px);
            }
        }

        #card-bg {
            color: rgb(255, 244, 214);
            font-family: $main_title;
            width: 350px;
            height: 450px;
            background-color: rgb(255, 244, 214);
            //平板
            @media screen and (max-width: $ipad) {
                width: 200px;
                height: 300px;
                position: absolute;
                left: 550px;
            }
            //手機
            @media screen and (max-width: $phone) {
                width: 150px;
                height: 250px;
                position: absolute;
                top: 0;
                left: 200px;
            }
        }
    }
}

//作品集標題
#title {
    width: 100%;
    //letter-spacing: 15px;
    word-spacing: 50px;
    margin-left: 80px;
    margin-top: 10px;
    //平板
    @media screen and (max-width: $ipad) {
        width: 100%;
        word-spacing: 50px;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
    }
    //手機
    @media screen and (max-width: $phone) {
        word-spacing: 10px;
        text-align: center;
    }

    a {
        text-decoration: none;
        transition: 0.5s;
        color: black;
        font-family: $main_title;
        font-size: 24px;

        &:hover {
            color: $main_color;
        }

        //平板
        @media screen and (max-width: $ipad) {
            font-size: 35px;
        }
        //手機
        @media screen and (max-width: $phone) {
            font-size: 25px;
        }
    }
}

#hr-title {
    //平板
    @media screen and (max-width: $ipad) {
        width: 100%;
    }
}

//  作品集-平面設計
#work {
    height: 100vh;
    margin-top: 20px;
    #graphic-design {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        //平板
        @media screen and (max-width: $ipad) {
            width: auto;
        }
        h1 {
            @include title;
        }
        #img-box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            margin-top: 15px;
            //平板
            @media screen and (max-width: $ipad) {
                grid-template-columns: repeat(2, 1fr);
            }
            //手機
            @media screen and (max-width: $phone) {
                grid-template-columns: repeat(1, 1fr);
            }
            img {
                width: 300px;
                height: 250px;
                justify-self: center;
                box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
            }
        }
    }
    // 作品集-海報
    #poster {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        //平板
        @media screen and (max-width: $ipad) {
            width: auto;
        }
        h1 {
            @include title;
        }
        #img-box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            margin-top: 15px;
            //平板
            @media screen and (max-width: $ipad) {
                grid-template-columns: repeat(2, 1fr);
            }
            //手機
            @media screen and (max-width: $phone) {
                grid-template-columns: repeat(1, 1fr);
            }
            img {
                width: 300px;
                height: 450px;
                justify-self: center;
                box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
            }
        }
    }
    //  作品集-精緻電修
    #exquisite {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        //平板
        @media screen and (max-width: $ipad) {
            width: auto;
        }
        h1 {
            @include title;
        }
        #img-box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            margin-top: 15px;
            //平板
            @media screen and (max-width: $ipad) {
                grid-template-columns: repeat(2, 1fr);
            }
            //手機
            @media screen and (max-width: $phone) {
                grid-template-columns: repeat(1, 1fr);
            }
            img {
                width: 300px;
                height: 380px;
                justify-self: center;
                box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
            }
            #img-bottle {
                margin-top: 100px;
                width: 400px;
                height: 200px;

                //手機
                @media screen and (max-width: $phone) {
                    margin: 0;
                    width: 300px;
                }
            }
        }
    }
    // 作品集-產品
    #product {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        //平板
        @media screen and (max-width: $ipad) {
            width: auto;
        }
        h1 {
            @include title;
        }
        #img-box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            margin-top: 15px;
            //平板
            @media screen and (max-width: $ipad) {
                grid-template-columns: repeat(2, 1fr);
            }
            //手機
            @media screen and (max-width: $phone) {
                grid-template-columns: repeat(1, 1fr);
            }
            img {
                width: 300px;
                height: 250px;
                justify-self: center;
                box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
            }
        }
    }
    // VI
    #VI {
        width: 1200px;

        margin: 0 auto;
        overflow: hidden;
        //平板
        @media screen and (max-width: $ipad) {
            width: auto;
        }
        h1 {
            @include title;
        }
        #logo-title {
            width: 800px;
            margin: 0 auto;
            overflow: hidden;
            //平板
            @media screen and (max-width: $ipad) {
                width: auto;
            }

            img {
                width: 800px;
                height: 500px;
                //平板
                @media screen and (max-width: $ipad) {
                    width: 600px;
                    height: 400px;
                    display: block;
                    margin: 0 auto;
                }
                //手機
                @media screen and (max-width: $phone) {
                    width: 300px;
                    height: 200px;
                }
            }
        }
        #img-box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            margin-top: 15px;
            //平板
            @media screen and (max-width: $ipad) {
                grid-template-columns: repeat(2, 1fr);
            }
            //手機
            @media screen and (max-width: $phone) {
                grid-template-columns: repeat(1, 1fr);
            }
            img {
                width: 300px;
                height: 250px;
                justify-self: center;
                box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
            }
        }
    }
}

// 網頁設計頁面

#official {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px auto;
    //平板
    @media screen and (max-width: $ipad) {
        width: auto;
        grid-template-columns: repeat(2, 1fr);
    }
    //手機
    @media screen and (max-width: $phone) {
        grid-template-columns: repeat(1, 1fr);
    }
    .web-title {
        text-align: center;
    }
    .web-img {
        img {
            width: 300px;
            height: 150px;
        }
    }
    .web-h3{
        font-family: $main_title;
        &:hover {
            color: $main_color;
        }
    }

    
}
//about
#about-kyrie {
    width: 900px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 250px 650px;
    box-shadow: 2px 8px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    grid-template-areas: "about-left about-right";
    //平板
    @media screen and (max-width: $ipad) {
        grid-template-columns: 150px 550px;
        width: auto;
    }
    //手機
    @media screen and (max-width: $phone) {
        display: block;
    }
    // 關於我-左邊
    #about-left {
        background-color: #3c3c3c;
        grid-area: about-left;
        //手機
        @media screen and (max-width: $phone) {
            display: none;
        }

        // 左邊的照片
        #about-resume {
            width: 250px;
            height: 250px;
            object-fit: cover;
            //平板
            @media screen and (max-width: $ipad) {
                width: 150px;
                height: 150px;
            }
            //手機
            @media screen and (max-width: $phone) {
            }
        }
        // 關於我左邊的文字
        .about-date {
            // margin-left: 20px;
            padding: 20px;
            color: white;
            //平板
            @media screen and (max-width: $ipad) {
                padding: 10px;
            }
            //手機
            @media screen and (max-width: $phone) {
            }

            h2 {
                font-family: $main_title;
                font-size: 24px;
                margin-bottom: 10px;
            }
            p {
                font-family: $main_title;
                font-size: 16px;
                //平板
                @media screen and (max-width: $ipad) {
                    font-size: 14px;
                }
                //手機
                @media screen and (max-width: $phone) {
                }
            }
        }
    }
    // 關於我-右邊
    #about-right {
        margin-left: 40px;
        grid-area: about-right;
        // width: 100%;
        //平板
        @media screen and (max-width: $ipad) {
            margin: 0;
        }
        //手機
        @media screen and (max-width: $phone) {
            width: auto;
        }
        #about-head {
            h1 {
                font-family: $main_title;
                font-size: 80px;
                //手機
                @media screen and (max-width: $phone) {
                    text-align: center;
                }
            }
            h3 {
                //手機
                @media screen and (max-width: $phone) {
                    text-align: center;
                }
            }
        }
        #contact-me {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 20px 0;
            //手機
            @media screen and (max-width: $phone) {
                grid-gap: 10px;
            }
        }
    }
    // 關於我右邊小圖片
    .box1 {
        img {
            filter: invert(26%) sepia(81%) saturate(800%) hue-rotate(336deg) brightness(101%) contrast(93%);
            margin-right: 10px;
            //手機
            @media screen and (max-width: $phone) {
                margin: 0;
                display: inline-block;
            }
        }
        span {
            font-family: $main_title;
        }
    }

    // 關於我經驗、學歷、技能標題
    .about-title {
        width: 200px;
        font-family: $main_title;
        font-size: 30px;
        background: $main_color;
        display: inline-block;
        color: white;
        padding: 5px 0;
        margin: 10px 0 20px;
        padding-left: 20px;
        //手機
        @media screen and (max-width: $phone) {
            width: 100px;
            font-size: 20px;

            padding-left: 0;
        }
    }
    // 右邊標題的線
    .about-hr {
        width: 300px;
        height: 3px;
        background-color: $main_color;
        border: none;
        margin-left: 250px;
        transform: translateY(-50px);
        //手機
        @media screen and (max-width: $phone) {
            width: 200px;
            transform: translateY(-40px);
            margin-left: 150px;
        }
    }
    //關於我經驗、學歷、技能切版
    .about-content {
        display: grid;
        grid-template-columns: 200px 400px;
        //手機
        @media screen and (max-width: $phone) {
            grid-template-columns: 150px 400px;
        }
        h2 {
            font-family: $main_title;
            text-align: center;
            //手機
            @media screen and (max-width: $phone) {
                text-align-last: left;
            }
        }
    }
    //關於我經驗、學歷、技能細節
    .about-box {
        margin-bottom: 10px;
        //手機
        @media screen and (max-width: $phone) {
            width: 200px;
            font-size: 12px;
        }
        h3 {
            font-family: $main_title;
        }
        h4 {
            font-family: $main_title;
        }
        p {
            font-family: $main_title;
            //手機
            @media screen and (max-width: $phone) {
                width: 200px;
            }
        }
    }

    // 技能
    #skills {
        margin-bottom: 10px;

        .about-skill {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .skill-box {
                h2 {
                    text-align: center;
                    font-family: $main_title;
                }
                hr {
                    width: 200px;
                    height: 5px;
                    background-color: $main_color;
                    border: none;
                    margin: 0 auto;
                    //手機
                    @media screen and (max-width: $phone) {
                        width: 100%;
                    }
                }
                ul {
                    li {
                        list-style: square;
                        font-family: $main_title;
                        margin-left: 80px;
                        //手機
                        @media screen and (max-width: $phone) {
                            margin-left: 50px;
                        }
                    }
                }
            }
        }
    }
}

@keyframes kyrieText {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
